body {
  font-family: 'Lora', serif !important;
}

h1, h2, h3, h4, h5, h6,
nav, .navbar, .nav-link, .navbar-brand {
  font-family: 'Inter', sans-serif !important;
}

.social {
  font-size: 1.5rem !important;
  
  a {
    font-size: 1.5rem !important;
    
    i {
      font-size: 1.5rem !important;
    }
  }
}
